* {
  box-sizing: border-box;
}

body {
  background-color: rgba(5, 3, 14, 0.993);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
}

.square {
  width: 20px;
  height: 20px;
  background: #151416;
  margin: 2px;
  box-shadow: 0 0 2px rgb(0, 0, 0);
  transition: 3s ease;
}

.square:hover {
  transition-duration: 0s;
}